<tr class="hover">
  <div id="<%= dom_id disturbance %>">
    <th class="font-normal">
      <p>
        <%= time_tag disturbance.created_at, "data-local": "time-ago" %>
      </p>
    </th>

    <td>
      <p>
        <%= disturbance.origine %>
      </p>
    </td>

    <td>
      <p>
        <%= disturbance.train %>
      </p>
    </td>

      <% if disturbance.sens == 'Départ' %>
        <td>
          <p>
            ->
            <%= disturbance.destination %>
          </p>
        </td>

        <td>
          <p>
            <%= disturbance.départ_prévu %>
          </p>
        </td>

        <td>
          <p>
            <%= disturbance.départ_réel %>
          </p>
        </td>
      <% else %>
        <td>
          <p>
            <-
            <%= disturbance.provenance %>
          </p>
        </td>

        <td>
          <p>
            <%= disturbance.arrivée_prévue %>
          </p>
        </td>

        <td>
          <p>
            <%= disturbance.arrivée_réelle %>
          </p>
        </td>
      <% end %>

      <td>
        <p>
          <span style="<%= disturbance.perturbation_style%>">
            <%= disturbance.perturbation %>
          </span>
        </p>
      </td>

      <td>
        <p>
          <%= disturbance.information %>
        </p>
      </td>

      <td>
        <p>
          <%= link_to_if policy(disturbance).show?, disturbance.id, disturbance_path(disturbance) %>
        </p>
      </td>
    </td>
  </div>
</tr>