<div class="w-full">

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl text-primary mt-1 mb-4">
      Liste des demandes
    </h1>
    <%= link_to '+ Demande', new_demande_path, class: "btn btn-sm btn-primary btn-outline" %>
  </div>

  <%= form_tag admin_index_path, method: :get do %>
    <div class="flex flex-wrap xl:flex-nowrap">

    <div class="mr-4">
      <%= label_tag :search, "Rechercher", class: "label" %>
      <%= text_field_tag :search,
                      params[:search],
                      include_blank: true,
                      class: 'input select-bordered w-full max-w-xs',
                      onchange: 'this.form.submit()',
                      placeholder: 'Nom/Prénom/Lieu de naissance' %>
    </div>

    <div class="mr-4">
      <%= label_tag :type_document, "Type", class: "label" %>
      <%= select_tag :type_document, 
                      options_for_select(@demandes.type_documents, params[:type_document]), 
                      include_blank: true,
                      class: 'select select-bordered w-full max-w-xs', 
                      onchange: 'this.form.submit()' %>
    </div>

    <div class="mr-4">
      <%= label_tag :district, "District", class: "label" %>
      <%= select_tag :district, 
                      options_for_select(@districts, params[:district]), 
                      include_blank: true,
                      class: 'select select-bordered w-full max-w-xs', 
                      onchange: 'this.form.submit()' %>
    </div>

    <div class="mr-4">
      <%= label_tag :commune, "Commune", class: "label" %>
      <%= select_tag :commune, 
                      options_for_select(@communes, params[:commune]), 
                      include_blank: true,
                      class: 'select select-bordered w-full max-w-xs', 
                      onchange: 'this.form.submit()' %>
    </div>

    <div class="mr-4">
      <%= label_tag :sous_prefecture, "Sous-Préfecture", class: "label" %>
      <%= select_tag :sous_prefecture, 
                      options_for_select(@sous_prefectures, params[:sous_prefecture]), 
                      include_blank: true,
                      class: 'select select-bordered w-full max-w-xs', 
                      onchange: 'this.form.submit()' %>
    </div>

    <div class="mr-4">
      <%= label_tag :workflow_state, "État de la demande", class: "label" %>
      <%= select_tag :workflow_state, 
                      options_for_select(Demande.workflow_spec.states.keys.to_a, params[:workflow_state]), 
                      include_blank: true,
                      class: 'select select-bordered w-full max-w-xs', 
                      onchange: 'this.form.submit()' %>
    </div>

    </div>
  <% end %>

  <div id="disturbances" class="my-4 overflow-x-auto">
    <table class="table table-zebra w-full">
      <thead>
        <tr>
          <th>ID</th>
          <th>Document</th>
          <th>Nom</th>
          <th>District</th>
          <th>Commune/Sous-Préf.</th>
          <th>État</th>
          <th>MÀJ</th>
        </tr>
      </thead>
      <tbody>
        <% @demandes.each do | demande | %>
          <tr class="hover">
            <th class="font-normal">
              <p>
                <%= link_to demande.id, demande, class: 'link' %>
              </p>
            </th>

            <td>
              <p>
                <%= demande.type_document %>
              </p>
            </td>

            <td>
              <p>
                <%= link_to demande.nom, demande, class: 'link' %>
              </p>
            </td>

            <td>
              <p>
                <%= demande.district %>
              </p>
            </td>

            <td>
              <p>
                <%= demande.commune_sous_prefecture %>
              </p>
            </td>

            <td>
              <p>
                <span class="badge badge-lg badge-outline badge-<%= demande.style %>"><%= demande.workflow_state.humanize %></span>
              </p>
            </td>

            <td>
              <p>
                <%= time_ago_in_words demande.updated_at %>
              </p>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="7"></td>
        </tr>
      </tfoot>
    </table>
  </div>

<%= page_entries_info @demandes, entry_name: 'demande' %>
<%= paginate @demandes %>
