<div class="navbar sticky top-0 z-50 bg-base-300 lg:px-4 mb-12">
  <div class="navbar-start">
    <a class="normal-case font-bold">ActesLib</a>
    <% if user_signed_in? && current_user.administrateur? %>
      <%= link_to admin_index_path, class:"btn btn-ghost normal-case ml-3" do %>
        Demandes
      <% end %>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <div class="navbar-end flex-none">
      <ul class="menu menu-horizontal items-center p-0 sm:mr-3">
        <p class="mr-4 text-sm">
          <%= current_user.email.split('@').first %>
          (<%= current_user.role.humanize %>)
        </p>
        <div class="dropdown dropdown-end">
          <div tabindex="0" class="avatar online placeholder cursor-pointer">
            <div class="bg-primary-focus text-neutral-content rounded-full w-8">
              <span><%= "#{current_user.email.first.humanize if current_user.email}" %></span>
            </div>
          </div>
          <ul tabindex="0" class="menu dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-fit">
            <li><p class="text-primary"><%= current_user.email %></p></li>
            <hr>
            <% if current_user.administrateur? %>
              <li>
                <%= link_to users_path, class:"w-full" do %>
                  Utilisateurs
                <% end %>
              </li>
              <li>
                <%= link_to audits_path, class:"w-full" do %>
                  Audit trail
                <% end %>
              </li>
            <% end %>
            <hr>
            <li data-turbo="false" class="p-0 w-full">
              <%= button_to destroy_user_session_path, method: :delete, class:'w-full text-left p-3', form_class:'w-full !p-0' do %>
                Déconnexion
              <% end %>
            </li>
          </ul>
        </div>
      </ul>
    </div>
  <% else %>
    <div class="navbar-end sm:mr-3">
      <ul class="menu menu-horizontal p-0">
        <div class="dropdown dropdown-end mt-2">
          <div tabindex="0" class="avatar offline placeholder cursor-pointer">
            <div class="bg-primary-focus text-neutral-content rounded-full w-8">
              <i class="fa-solid fa-user text-white"></i>
            </div>
          </div>
          <ul tabindex="0" class="menu dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-fit">
            <li>
              <%= link_to new_user_session_path do %>
                <i class="fa-solid fa-right-to-bracket"></i> Connexion
              <% end %>
            </li>
          </ul>
        </div>
      </ul>
    </div>
  <% end %>
</div>