<div id="<%= dom_id user %>">
  <p class="my-5 text-xl">
    <%= user.email %>
  </p>

  <p class="my-5">
    <strong class="font-medium mb-1">Rôle : </strong>
    <%= user.role.humanize %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Voir cet utilisateur", user, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Éditer cet utilisateur', edit_user_path(user), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
