<div id="<%= dom_id demande %>" class="card bg-base-100 shadow-md p-4 mb-6">
  <% if current_user.demandeur? %>
    <%= render partial: "partials/steps", locals: { step: demande.step } %>
  <% end %>
  <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-x-12">
    <div>
      <% unless current_user.demandeur? %>
        <p class="my-5">
          <strong class="font-medium mb-1">ID : </strong>
          <%= demande.id %>
        </p>
      <% end %>

      <p class="my-5">
        <strong class="font-medium mb-1">Demandé créée : </strong>
        il y a <%= time_ago_in_words demande.created_at %>
      </p>


      <p class="my-5">
        <strong class="block font-medium mb-1">Type de document demandé</strong>
        <%= demande.type_document %>
      </p>

      <p class="my-5">
        <strong class="block font-medium mb-1">Nom</strong>
        <%= demande.nom %>
      </p>

      <p class="my-5">
        <strong class="block font-medium mb-1">Email</strong>
        <%= demande.user.email %>
      </p>
      
    </div>

    <div>
      <p class="my-5">
        <strong class="block font-medium mb-1">Date naissance</strong>
        <%= l demande.date_naissance if demande.date_naissance %>
      </p>

      <p class="my-5">
        <strong class="block font-medium mb-1">Lieu naissance</strong>
        <%= demande.lieu_naissance %>
      </p>

      <p class="my-5">
        <strong class="block font-medium mb-1">District</strong>
        <%= demande.district %>
      </p>

      <p class="my-5">
        <strong class="block font-medium mb-1">Prénom</strong>
        <%= demande.prénom %>
      </p>

    </div>

    <div>
      <p class="my-5">
        <strong class="block font-medium mb-1">Document IN</strong>
        <% if demande.document_aller.attached? %>
          <%= link_to url_for(demande.document_aller) do %>
            <%= image_tag demande.document_aller, width: '100%', height: '100%' %>
          <% end %>
        <% end %>
      </p>
    </div>

    <div>
      <p class="my-5">
        <strong class="block font-medium mb-1">Document OUT</strong>
        <% if demande.document_retour.attached? %>
          <%= link_to url_for(demande.document_retour) do %>
            <%= image_tag demande.document_retour, width: '100%', height: '100%' %>
          <% end %>
          <%= link_to "Télécharger", download_demande_path(demande), class: "btn btn-primary btn-block mt-4" %>
        <% end %>
      </p>
    </div>
  </div>

  <p class="my-5">
    <strong class="font-medium mb-1">Message : </strong>
    <%= demande.observation %>
  </p>

  <p class="my-5">
    <strong class="font-medium mb-1">État de la demande : </strong>
    <span class="badge badge-lg badge-<%= demande.style %>"><%= demande.workflow_state.humanize %></span>
  </p>

  <% if action_name != "show" && policy(Demande).show_details? %>
    <%= link_to "Voir la demande", demande, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Modifier la demande', edit_demande_path(demande), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
  <% end %>
</div>
