<%= form_with(model: demande, class: "contents") do |form| %>
  <% if demande.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(demande.errors.count, "erreurs") %> empêche(nt) la demande d'être enregistrée :</h2>

      <ul>
        <% demande.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex gap-x-4">
    <div class="w-full my-5">
      <%= form.label :type_document, "Type de document" %>
      <%= form.select :type_document, options_for_select(Demande.type_documents.keys, demande.type_document), {}, { class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" } %>
    </div>

    <div class="w-full my-5">
      <%= form.label :district %>
      <%= form.select :district, options_for_select(demande.districts, demande.district), {}, { class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", include_blank: true, required: true } %>
    </div>
  </div>

  <div class="flex gap-x-4">
    <div class="w-full my-5">
      <%= form.label :nom %>
      <%= form.text_field :nom, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: true %>
    </div>

    <div class="w-full my-5">
      <%= form.label :prénom %>
      <%= form.text_field :prénom, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: true %>
    </div>
  </div>

  <div class="flex gap-x-4">
    <div class="w-full my-5">
      <%= form.label :date_naissance, "Date de naissance" %>
      <%= form.date_field :date_naissance, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: true %>
    </div>

    <div class="w-full my-5">
      <%= form.label :lieu_naissance, "Lieu de naissance" %>
      <%= form.text_field :lieu_naissance, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: true %>
    </div>
  </div>

  <div class="flex gap-x-4">
    <div class="w-full my-5">
      <%= form.label :sous_préfecture, "Sous-Préfecture" %>
      <%= form.text_field :sous_préfecture, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="w-full my-5">
      <%= form.label :commune %>
      <%= form.text_field :commune, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  </div>

  <div class="flex gap-x-4">
    <div class="w-full my-5">
      <%= form.label :numéro_registre, "Numéro de Registre" %>
      <%= form.number_field :numéro_registre, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="w-full my-5">
      <%= form.label :date_registre, "Date de Registre" %>
      <%= form.date_field :date_registre, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  </div>

  <div class="my-5">
    <%= form.label :document_aller, "Preuve d'identité (CNI,Passeport,...) :" %>
    <%= form.file_field :document_aller %>
  </div>


  <% unless current_user.demandeur? %>
    <div class="my-5">
      <%= form.label :document_retour, "Document retour :" %>
      <%= form.file_field :document_retour, accept: 'application/pdf' %>
    </div>
  <% end %>

  <% unless demande.new_record? %>
    <div class="my-5">
      <%= form.label :workflow_state, "État de la demande" %>
      <%= form.select :workflow_state, options_for_select(Demande.workflow_spec.states.keys.to_a, demande.workflow_state), {}, { class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" } %>
    </div>
  <% end %>

  <div class="inline">
    <%= form.submit "Enregistrer la demande", class: "btn btn-primary normal-case my-4" %>
  </div>
<% end %>
