<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render @demande %>

    <p class="my-3">
      Actions : 
      <%= render partial: 'partials/wf_button', locals: { state: 'attente', transition: 'attente', label: 'Mettre en attente' } %>
      <%= render partial: 'partials/wf_button', locals: { state: 'traitée', transition: 'traiter', label: 'A été traité' } %>
      <%= render partial: 'partials/wf_button', locals: { state: 'echec', transition: 'echec', label: 'A échoué' } %>
      <%= render partial: 'partials/wf_button', locals: { state: 'archivée', transition: 'archiver', label: 'Archiver' } %>
    </p>
  
    <% unless current_user.demandeur? %>
      <%= link_to 'Modifier la demande', edit_demande_path(@demande), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <div class="inline-block ml-2">
        <%= button_to 'Supprimer la demande', demande_path(@demande), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
      </div>
    <% end %>
    <%= link_to 'Retour aux demandes', current_user.administrateur? ? admin_index_path : demandes_path, class: "sm:ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
