<!DOCTYPE html>
<html lang="fr" data-theme="light">
  <head>
    <title>Acteslib</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: "partials/navbar" %>
    <main class="container mx-auto px-2 mb-8">
      <%= yield %>
        <!-- sert à charger les classes, sinon les couleurs ne s'affichent pas -->
        <p class="hidden badge-info badge-success badge-warning badge-error badge-secondary btn-info btn-success btn-warning btn-error btn-secondary"></p>
    </main>
    <%= render partial: "partials/notification" %>
  </body>
</html>
